body {
    margin: 0px;
    padding: 0px;
    background-color: #EEF2F7;
}

h1 {
    text-align: center;
    font-size: 5vw;
    font-family: 'Permanent Marker';
    margin: 0px;
    padding: 30px 0px 0px 0px;
}

h3 {
    text-align: center;
    font-size: 2em;
    font-family: 'Kalam';
    margin: 0px;
    padding: 0px;
}

h4 {
    font-family: 'Courgette';
    font-size: 18px;
    text-align: center;
}

h6 {
    font-weight: 300;
    font-size: 16px;
}

.introdiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
}

.introcap {
    background-color: white;
    margin: 20px 0px 20px 0px;
    padding: 15px 15px 5px 15px;
    border-radius: 5px;
}

.context {
    text-align: center; 
    font-size: 12px; 
    display:inline-block;
    margin: 0px 5px 0px 5px;
    padding: 0px;
    color: #444;
}

.intpara {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
}

ol {
    font-family: 'Noto Sans';
}

ul.intpara{
    margin-left: -20px;
}

.keysketch {
    width: 70%;
    height: auto;
}

.caption {
    width: 42%;
    margin-bottom: 40px;
}

.interviewdiv {
    background-color: white;
    width: 80%;
    border-radius: 5px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.inlinehr {
    display: inline-block; 
    width: 33%; 
    position: relative; 
    top: 0.5em;
    margin: 0px 0px 30px 0px;
    padding: 0px;
    background-color: darkgrey;
}

.longhr {
    width: 80%;
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.interviews {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.grid {
    display: grid;
    width: 80%;
    padding-bottom: 40px;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.interview {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
}

.interview1 {
    grid-column: 1;
    grid-row: 1;
}

.interview2 {
    grid-column: 2;
    grid-row: 1;
}

.interview3 {
    grid-column: 3;
    grid-row: 1;
}

.personascap {
    width: 70%;
    text-align: center;
    margin-bottom: 30px;
}

.personas {
    width: 80%;
    height: auto;
    border-radius: 5px;
    background-color: white;
    margin: 10px;
    margin-bottom: 30px;
}

.storyboard {
    width: 80%;
    height: auto;
    margin-bottom: 20px;
}

.conclusion {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 100px;
    width: 80%;
}

.conclusiongrid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 0.3fr 0.3fr;
    grid-template-rows: 1fr;
    margin-top: 20px;
}

.lessons {
    grid-column: 1;
    grid-row: 1;
}

.softskills {
    grid-column: 2;
    grid-row: 1;
}

.hardskills {
    grid-column: 3;
    grid-row: 1;
}

.skillslist {
    margin-left: -25px;
}

.centered {
    display: flex;
    justify-content: center;
}

.coolshadow {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072);
}

.smallshadow {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034);
}

@media only screen and (max-width: 600px) {
    .grid {      
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .interview1 {
        grid-column: 1;
        grid-row: 1;
    }
    
    .interview2 {
        grid-column: 1;
        grid-row: 2;
    }
    
    .interview3 {
        grid-column: 1;
        grid-row: 3;
    }

    .conclusiongrid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr 0.5fr;
    }

    .lessons {
        grid-column: 1;
        grid-row: 1;
    }
    
    .softskills {
        grid-column: 1;
        grid-row: 2;
    }
    
    .hardskills {
        grid-column: 1;
        grid-row: 3;
    }

    ol {
        padding: 0px 35px 0px 35px;
    }

    .keysketch {
        width: 90%
    }

    .caption {
        width: 70%;
    }

    .subtitle {
        font-size: 1em;
    }
}

/* permanent-marker-regular - latin */
@font-face {
    font-family: 'Permanent Marker';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/permanent-marker-v10-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Permanent Marker Regular'), local('PermanentMarker-Regular'),
         url('./fonts/permanent-marker-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/permanent-marker-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/permanent-marker-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/permanent-marker-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/permanent-marker-v10-latin-regular.svg#PermanentMarker') format('svg'); /* Legacy iOS */
  }

/* courgette-regular - latin */
@font-face {
    font-family: 'Courgette';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/courgette-v8-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Courgette Regular'), local('Courgette-Regular'),
         url('./fonts/courgette-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/courgette-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/courgette-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/courgette-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/courgette-v8-latin-regular.svg#Courgette') format('svg'); /* Legacy iOS */
  }

/* kalam-regular - latin */
@font-face {
    font-family: 'Kalam';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/kalam-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Kalam'), local('Kalam-Regular'),
         url('./fonts/kalam-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/kalam-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/kalam-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/kalam-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/kalam-v11-latin-regular.svg#Kalam') format('svg'); /* Legacy iOS */
  }

/* noto-sans-regular - latin */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/noto-sans-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Noto Sans'), local('NotoSans'),
         url('./fonts/noto-sans-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/noto-sans-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/noto-sans-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/noto-sans-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/noto-sans-v11-latin-regular.svg#NotoSans') format('svg'); /* Legacy iOS */
  }